@font-face {
    font-family: "Bitter";
    src: url("fonts/Bitter-VariableFont_wght.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Bitter";
    src: url("fonts/Bitter-Italic-VariableFont_wght.ttf");
    font-style: italic;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: "Bitter", Georgia, 'Times New Roman', Times, serif;
}
header{
    padding: 100px;
    text-shadow: black 0px 0px 10px;
    position: relative;
    color: white;
}
footer{
    background-color: #ab82c5;
    padding: 5px;
    text-align: center;
}
nav{
    text-align: center;
    padding: 3px;
}
.nav-item{
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
    text-shadow: black 0px 0px 10px;
}
a{
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}
.cover-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(50%);
    object-fit: cover;
}
.title{
    text-align: center;
}
.image-wrapper{
    width: 100%;
    display: grid;
    place-items: center;
}
.nyuTorch{
    height: 50px;
    padding: 15px;
    filter: invert(100);
}
.logo{
    height: 50px;
    padding: 15px;
    filter: invert(100);
}
.page-header{
    padding: 10px;
    background-color: #ab82c5;
}
.page-title{
    font-size: 75px;
}
.page-content{
    margin: 0px 25% 0px 25%;
}
.page-paragraph{
    text-align: justify;
    padding-top: 10px;
    border-top: solid 1px black;
}
.rsvp-title{
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}
.rsvp-flyer{
    width: 65%;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.rsvp-click-info{
    text-align: center;
}
.past-flyer-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}
.past-flyer{
    width: 100%;
    border-radius: 15px;
}
.photos-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}
.gallery-photo{
    width: 100%;
}
.column{
    padding-top: 10px;
}
@media screen and (max-width: 800px){
    .rsvp-flyer{
        width: 70%;
    }
    .page-title{
        font-size: 15vw;
    }
    .page-content{
        margin: 0px 5% 0px 5%;
    }

    @media screen and (max-width: 425px){
        .past-flyer-grid{
            grid-template-columns: repeat(1, 1fr);
        }
        .rsvp-click-info{
            font-size: medium;
        }
        .rsvp-flyer{
            width: 100%;
        }
        .nav-item{
            display: block;
            font-size: 16pt;
        }
    }
}